spring:
  profiles:
    active: local
  application:
    name: tiny_url
  jackson:
    property-naming-strategy: SNAKE_CASE

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org.hibernate.SQL: INFO
    org.springframework.web: INFO

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  show-login-endpoint: true

url:
  cleanup:
    cron: "0 0 2 * * *"
  processing:
    cron: "0 * * * * *"

block-size: 1000

base-url: ${APP_BASE_URL:http://localhost:8080}