spring:
  datasource:
    url: jdbc:mysql://localhost:3106/tiny_url_service_local
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: DEBUG
    org:
      springdoc: DEBUG
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html